body
{
    background-color: #e9f0e6;
    font-size: large;
}

article
{
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
}

.center
{
    text-align: center;
}
