@charset "utf-8";
:root {
 text-autospace: normal;
 text-spacing-trim: trim-start;
 line-break: strict;
 hyphens: auto;
 overflow-wrap: anywhere;
}

body {
  display: grid;
  grid-auto-columns: 100%;
  grid-template-rows: auto 0.95fr auto;
  height: 100dvh;
  text-underline-offset: 0.15em;
  font-size: max(1rem, 20px);

  & > header {
    margin-bottom: 0.8em;
    display: grid;
    gap: 2em;
  }
}

h1, h2, h3 {
  text-wrap: balance;
  font-feature-settings: "palt" 1;
}

header {
  & > nav {
    font-size: 1.1em;
    box-sizing: border-box;
    padding-bottom: 0.8em;
    border-bottom: 3px solid #555;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, max-content));
    max-width: 95dvw;
    --nav-gap: 2.5rem;
    gap: var(--nav-gap);
    place-items: center;
    place-content: center;
    place-self: start;
    margin-left: 0.5rem;
  }

  & > nav a {
    position: relative;
  }

  & > nav a + a::before {
    content: "";
    position: absolute;
    top: 5%;
    bottom: 5%;
    left: calc(var(--nav-gap) / -2);
    border-left: 1.5px dotted currentColor;
  }

  & > nav:has(a[href="../index.html"]) {
    place-self: center;
  }

  & > h1 {
    margin-bottom: 0;
    margin-block: 0.67em;
    font-size: 2em;
  }

  & > time {
    font-size: 1rem;
  }
}

article {
  padding-bottom: 2rem;
  padding-top: 0.5rem;

  & > dl > dd:has(+ dt) {
    margin-bottom: 0.5rem;
  }
}

blockquote {
  & div {
    padding: 1em;
    border-radius: 0.6rem;
    border-style: solid;
    border-width: thin;
  }

  & *:first-child {
    margin-top: 0;
  }

  & *:last-child {
    margin-bottom: 0;
  }

  & p::before {
    content: '\201C';
  }

  & p::after {
    content: '\201D';
  }
}

code {
  border-radius: 0.3rem;
  padding: 0.1rem 0.2rem;
  margin: 0 0.1em;
  border-style: solid;
  border-width: thin;
}

pre code {
  border-radius: 0.6rem;
  padding: 1rem;
  display: block;
  overflow-x: auto;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
    width: 100%;
}

ul:has( a) {
  display: grid;
  gap: 0.2rem;
}

.center {
  text-align: center;
}

.banner {
    --banner-width: 300px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--banner-width), 1fr));
    max-width: 100dvw;
    gap: 0.5rem;
    place-items: center;

    & > a > img {
      width: var(--banner-width);
      height: auto;
    }
}

/* メディアクエリ */
@media  (min-width: 40em) {
article {
  padding-left: 1rem;
  padding-right: 1rem;
}
}

@media  (min-width: 70em) {
article {
  max-width: 43rem;
  margin-left: auto;
  margin-right: auto;
}

header > nav:has(a[href="../index.html"]) {
  position: fixed;
  top: 1rem;
  left: 1rem;
  width: 12rem;
  max-width: 20vw;
  z-index: 10;
  grid-template-columns: 1fr;
  justify-items: start;
  place-content: start;
  place-self: start;
}

header > nav:has(a[href="../index.html"]) a + a::before {
  top: calc(var(--nav-gap) / -2);
  bottom: auto;
  left: 5%;
  right: 5%;
  border-left: 0;
  border-top: 1.5px dotted currentColor;
}

body > header > h1, body > footer {
  padding-left: 0.5rem;
}
}

@media (max-width: 35rem) {
blockquote {
  margin-left: 0rem;
  margin-right: 0rem;
}

header > nav {
  place-self: center;
}
}

@media print {
a {
  color:#000;
}
}

/* 色 */
@media screen{
:root {
  --color-bg: #e8eeed;
  --color-text: #000;
  --color-link: #014888;
  --color-link-visited: #606;
  --color-link-hover: #000;
  --color-link-hover-bg: #aadbe8;
  --color-quote-bg: #b7dcd5;
  --color-quote-border: #000;
  --color-code-bg: #cae0d9;
  --color-code-border: #389982;
  --color-pre-bg: #f6f5f5;
  --color-pre-border: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #012824;
    --color-text: #e6e6e6;
    --color-link: #c2dbff;
    --color-link-visited: #f5ccf7;
    --color-link-hover: #fff;
    --color-link-hover-bg: #3e7e6c;
    --color-quote-bg: #2f645c;
    --color-quote-border: #e6e6e6;
    --color-code-bg: #1c534b;
    --color-code-border: #e6e6e6;
    --color-pre-bg: #202224;
    --color-pre-border: #e6e6e6;
  }
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

article {
   color: var(--color-text);
}

a {
  &:link {
    color: var(--color-link);
  }

  &:visited {
    color: var(--color-link-visited);
  }

  &:focus, &:hover {
    color: var(--color-link-hover);
    background-color: var(--color-link-hover-bg);
  }
}

blockquote div {
  color: var(--color-text);
  border-color: var(--color-quote-border);
  background: var(--color-quote-bg);
}
code {
  color: var(--color-text);
  background-color: var(--color-code-bg);
}
pre code {
  border-color: var(--color-pre-border);
  color: var(--color-text);
  background-color: var(--color-pre-bg);
}
}
