body {
  font-size: large;
  overflow-wrap: break-word;
}

@media screen{

body {
  background-color: #e4f0ee;
}

article {
  color: #1c362e;
}

blockquote div {
  color: #000;
  background: #b7dcd5;
  border-color: #000;
}

code {
  color: #000;
  background-color: #cae0d9;
  border-color: #389982;
}

pre code {
  color: #2c2c2c;
  background-color: #f6f5f5;
  border-color: #000;
}

a {
  color:#002751;
}

a:visited {
  color:#606;
}

a:focus, a:hover {
  color:#005664;
}

@media  (min-width: 40em) {
article {
  padding-left: 1em;
  padding-right: 1em;
}

article li:has(> a) {
  margin: 0.3em 0;
}

main li:has(> a) {
  margin: 0.2em 0;
}
}

@media  (min-width: 50em) {
article {
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
}

body > header, body > footer {
  padding-left: 0.5em;  
}
}
}

article h1, h2 {
    font-feature-settings: "palt" 1;
  }

article {
  color: #1c362e;
  padding-bottom: 2em;
  padding-top: 0.5em;
}


.center {
  text-align: center;
}

blockquote *:first-child {
  margin-top: 0;
}

blockquote *:last-child {
  margin-bottom: 0;
}

blockquote div {
  padding: 1em;
  border-radius: 0.6em;
  border-style: solid;
  border-width: thin;
}


blockquote p::before {
  content: '\201C';
}

blockquote p::after {
  content: '\201D';
}

code {
  border-radius: 0.3em;
  padding: 0 0.2em;
  margin: 0 0.1em;
  border-style: solid;
  border-width: thin;
}

pre code {
  border-radius: 0.6em;
  padding: 1em;
  display: block;
  overflow-x: auto;
}

header > h1 {
  margin-bottom: 0;
}

header > time {
  font-size: medium;
}

article > dl > dd:has(+ dt) {
  margin-bottom: 0.5em;
}

img {
  max-width: 100%;
  height: auto;
}


@media screen and (prefers-color-scheme: dark) {
body {
  background-color: #012824;
  color: #e6e6e6;
}

article {
   color: #e6e6e6;
}
a {
  color: #c2dbff;
}
a:focus,
a:hover {
  color: #8ef0d3;
}

a:visited {
  color: #f5ccf7;
}
blockquote div {
  color: #fff;
  border-color: #e6e6e6;
  background: #2f645c;
}
code {
  color: #f2f2f2;
  background-color: #1c534b;
}
pre code {
  border-color: #e6e6e6;
  color: #ececec;
  background-color: #202224;
}
}
