@charset "utf-8";
:root {
 text-autospace: normal;
 text-spacing-trim: trim-start;
 line-break: strict;
 hyphens: auto;
 overflow-wrap: anywhere;
 text-underline-offset: 0.15em;

  /* レイアウトプリミティブ用 */
  --gutter: clamp(0.75rem, 1vw, 1.5rem);
  --wrapper-max-width: 70rem;
}

html {
	font-family: sans-serif;
  font-size: max(
      1rem,
      clamp( 20px, calc( 18.67px + 0.33vw ), 24px )
      /* clamp( 18px, calc( 16px + 0.5vw ), 24px ) */
    );
}

body {
  display: grid;
  grid-auto-columns: 100%;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
  font-size: 1rem;

  & > header {
    margin-bottom: 0.8em;
    display: grid;
    gap: 2em;
    --wrapper-max-width: 70rem;
  }
}

:where(body > header, article, body > footer) {
  width: 100%;
  box-sizing: border-box;
  margin-inline: auto;
  max-width: min(100%, var(--wrapper-max-width));
  padding-inline: var(--gutter);
}

h1, h2, h3, nav {
  text-wrap: pretty;
  font-feature-settings: "palt" 1;
}

h2 {
  margin-block-start: 2rlh;
  font-size: 1.375rem;
}

h3 {
  margin-block-start: 1.5rlh;
  font-size: 1.125rem;
}

h4 {
  font-weight: 600;
}

header {
  & > nav {
    font-size: 1.1rem;
    font-family: serif;
    box-sizing: border-box;
    padding-bottom: 0.8rem;
    border-bottom: 3px solid #555;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    --nav-gap: clamp(0.8rem, 6vw, 2.5rem);
    gap: var(--nav-gap);
    align-items: center;
    justify-content: center;

    & a {
      position: relative;
    }

    & a + a::before {
      content: "";
      position: absolute;
      top: 5%;
      bottom: 5%;
      left: calc(var(--nav-gap) / -2);
      border-left: 1.5px dotted currentColor;
    }
  }

  & > h1 {
    margin-block: 0.67rem;
    font-size: 2rem;
  }

  & > time {
    font-size: 0.9rem;
  }
}

article {
  --wrapper-max-width: 43rem;
  padding-bottom: 2rem;
  padding-top: 0.5rem;

  & > dl > dd:has(+ dt) {
    margin-bottom: 0.5rem;
  }
  & p + p {
    margin-block-start: 0.75rlh;
  }
}

nav#toc {
  margin-block: 1.5rem 2rem;
  font-size: 0.95rem;
  line-height: 1.7rem;
	font-family: sans-serif;

  & .toc-list,
  & .toc-sub {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  & .toc-sub {
    padding-left: 1rem;
    margin-top: 0.3rem;
    border-left: 1px dotted currentColor;
  }

  & a {
    text-decoration: none;
  }

  &  li {
    padding-block-end: 0.2rlh;
  }
}

blockquote {
  margin: 0;
  margin-block-start: 1rlh;
  margin-block-end: 1rlh;

  & div {
    padding: 1rem;
    border-radius: 0.6rem;
  }

  & :first-child {
    margin-top: 0;
  }

  & :last-child {
    margin-bottom: 0;
  }

  & p::before {
    content: '\201C';
  }

  & p::after {
    content: '\201D';
  }
}

code {
  border-radius: 0.3rem;
  padding: 0.1rem 0.3rem;
  margin: 0 0.1rem;
}

pre {
  & code {
    margin: 0;
    border-radius: 0.6rem;
    padding: 1rem;
    display: block;
    overflow-x: auto;
  }
}

img {
  max-width: 100%;
  height: auto;
}

hr {
    width: 100%;
}

ul:has( a) {
  display: grid;
  gap: 0.2rem;
}

.center {
  text-align: center;
}

.banner {
    --banner-width: 300px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--banner-width), 1fr));
    max-width: 100dvw;
    gap: 0.5rem;
    place-items: center;

    & > a > img {
      width: min(100%, var(--banner-width));
      height: auto;
    }
}

/* メディアクエリ */
@media  (min-width: 95rem) {
  header > nav:has(a[href="../index.html"]) {
    position: absolute;
    top: 3rem;
    left: 1rem;
    width: 13rem;
    max-width: 20vw;
    z-index: 10;
    border-bottom: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 30%;
      bottom: 0;
      border-bottom: 3px solid #555;
    }
  
    & a + a::before {
      top: calc(var(--nav-gap) / -2);
      bottom: auto;
      width: 7rem;
      transform: translateX(20%);
      border-left: 0;
      border-top: 2px dotted currentColor;
    }
  }

  nav#toc {
    position: fixed;
    top: var(--gutter);
    right: var(--gutter);
    width: clamp(12rem, 16vw, 18rem);
    max-height: calc(100dvh - (var(--gutter) * 2));
    overflow: auto;
  }

  article:has(#toc) {
    padding-right: clamp(2rem, 16vw, 3rem);
  }
}

@media print {
  a {
    color:#000;
  }
  header > nav {
    display: none;
  }
  body {
    display: block;
    min-height: auto;
    font-size: 12pt;
  }
  h1,
  h2,
  h3,
  h4 {
    break-after: avoid-page;
  }
  pre,
  pre code {
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: anywhere;
    break-inside: avoid;
  }
  blockquote {
    & div {
			border-style: solid;
			border-width: 0.2em;
    }
  }
  code {
    border-style: solid;
		border-width: 0.2em;
  }
}

/* 色 */
@media screen{
  :root {
    --color-bg: oklch(0.998 0.0032 166.85);
    --color-text: oklch(0.3154 0.0407 166.85);
    --color-link: oklch(0.3156 0.0972 253.04);
    --color-link-visited: oklch(0.3156 0.1449 328.3634);
    --color-link-hover: oklch(0.154 0.0314 166.85);
    --color-link-hover-bg: oklch(0.8781 0.1356 166.85);
    --color-quote-bg: oklch(0.9559 0.00728 166.85);
    --color-quote-border: oklch(0.217 0.0057 174.4);
    --color-code-text: oklch(0.3154 0.0407 166.85);
    --color-code-bg: oklch(0.9478 0.00838 166.85);
    --color-code-border: oklch(0.6197 0.097 174.4);
    --color-pre-text: oklch(0.3154 0.0107 166.85);
    --color-pre-bg: oklch(0.973 0 0);
    --color-pre-border: oklch(0.217 0.0057 174.4);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-bg: oklch(0.17 0.0122 166.85);
      --color-text: oklch(0.9146 0.0407 166.85);
      --color-link: oklch(0.8444 0.0572 253.04);
      --color-link-visited: oklch(0.8644 0.0549 328.3634);
      --color-link-hover: oklch(0.955 0 0);
      --color-link-hover-bg: oklch(0.5069 0.1225 151.92);
      --color-quote-bg: oklch(0.2628 0.0539 166.85);
      --color-quote-border: oklch(0.95 0 0);
      --color-code-text: oklch(0.9146 0.0407 166.85);
      --color-code-bg: oklch(0.2628 0.0539 166.85);
      --color-code-border: oklch(0.3803 0.097 174.4);
      --color-pre-text: oklch(0.9146 0.0407 166.85);
      --color-pre-bg: oklch(0.1594 0 0);
      --color-pre-border: oklch(0.95 0 0);
    }
  }

  body {
    background-color: var(--color-bg);
    color: var(--color-text);
  }

  article {
    color: var(--color-text);
  }

  a {
    background-image: linear-gradient(
      90deg,
      var(--color-link-hover-bg),
      var(--color-link-hover-bg)
    );
    background-size: 0% 100%;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: color 180ms ease, background-size 220ms cubic-bezier(.08,.82,.17,1);
    text-decoration-thickness: .08rem;

    &:link {
      color: var(--color-link);
    }

    &:visited {
      color: var(--color-link-visited);
    }

    &:focus, &:hover {
      color: var(--color-link-hover);
      background-size: 100% 100%;
    }
  }

  blockquote {
    & div {
      color: var(--color-text);
      border-color: var(--color-quote-border);
      background: var(--color-quote-bg);
    }
  }

  code {
    border-color: var(--color-code-border);
    color: var(--color-code-text);
    background-color: var(--color-code-bg);
  }

  pre {
    & code {
      border-color: var(--color-pre-border);
      color: var(--color-pre-text);
      background-color: var(--color-pre-bg);
    }
  }
}
