/* PrismJS 1.29.0 CSS*/
/*modified by s3-odara */

@media not print {

:root {
	--prism-token-primary: oklch(0.4944 0.1976 15.85); /* red */
	--prism-token-secondary: oklch(0.4903 0.1 90); /* yellow */
	--prism-token-muted: oklch(0.4891 0 0); /* glay */
	--prism-token-accent: oklch(0.474 0.1058 160.63); /* green */
	--prism-token-highlight: oklch(0.478 0.0972 232); /* blue */
	--prism-token-special: oklch(0.5056 0.2633 304.16); /* purple */
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted,
.token.namespace {
	color: var(--prism-token-primary);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.url,
.token.inserted {
	color: var(--prism-token-secondary);
}


.token.entity {
	color: var(--prism-token-muted);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: var(--prism-token-accent);
}

.token.function,
.token.class-name {
	color: var(--prism-token-highlight);
}

.token.regex,
.token.important,
.token.variable {
	color: var(--prism-token-special);
}

.token.important,
.token.bold {
	font-weight: bolder;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--prism-token-primary: oklch(0.853 0.0803 15.85);
		--prism-token-secondary: oklch(0.8425 0.1721 90);
		--prism-token-muted: oklch(0.845 0 0);
		--prism-token-accent: oklch(0.821 0.1835 160.63);
		--prism-token-highlight: oklch(0.84 0.0966 232);
		--prism-token-special: oklch(0.853 0.0896 304.16);
	}
}
}
