deploy:
  stage: deploy
  image: node:current-alpine
  environment:
    name: cloudflare-workers
  script:
    - set -euo pipefail
    - apk add --no-cache git curl jq
    - npm i wrangler
    - npm audit signatures
    - sh scripts/ci/deploy.sh
  only:
    - master

pages:
  stage: deploy
  image: alpine:latest
  script:
    - apk update
    - apk upgrade
    - apk add brotli file
    - mkdir .public
    - cp -r * .public
    - cp -r .well-known .public
    - mv .public public
    - sh scripts/ci/compress_by_mime.sh public

  artifacts:
    paths:
      - public
  only:
    - master
